<div *ngIf="active" class="card">
    <form novalidate [formGroup]="editForm" class="k-form-inline" id="eventForm">
        <fieldset>
            <legend>{{ isNew ? 'Add New Event' : 'Edit Event' }}</legend>

            <div class="k-form-field">
                <span>Event Type</span>
                <kendo-combobox formControlName="eventType" [data]="eventLookups" [textField]="'text'"
                    [valueField]="'value'" [valuePrimitive]="true" required>
                </kendo-combobox>
            </div>
        </fieldset>
        <div class="text-right">
            <button kendoButton (click)="onCancel($event)">Cancel</button>
            <button kendoButton (click)="onSave($event)" [disabled]="!editForm.valid" [primary]="true">Save</button>
        </div>
    </form>
</div>