<kendo-scheduler [selectedDate]="selectedDate" [selectedViewIndex]="selectedViewIndex"
  [kendoSchedulerReactiveEditing]="createFormGroup" (slotDblClick)="slotDblClickHandler($event)"
  (eventDblClick)="eventDblClickHandler($event)" (remove)="removeHandler($event)" style="height: 650px;">
  <kendo-scheduler-month-view [eventHeight]="30">
  </kendo-scheduler-month-view>

  <scheduler-edit-form [event]="editedEvent" [editMode]="editMode" [isNew]="isNew" (save)="saveHandler($event)"
    (cancel)="cancelHandler()" style="display: block; margin-top: 20px;">
  </scheduler-edit-form>
</kendo-scheduler>