<kendo-scheduler [kendoSchedulerBinding]="events" [selectedDate]="selectedDate" [editable]="true"
  [selectedViewIndex]="selectedViewIndex" (slotDblClick)="slotDblClickHandler($event)" (save)="saveHandler($event)"
  (dragEnd)="dragEndHandler($event)" (eventDblClick)="eventDblClickHandler($event)" (remove)="removeHandler($event)"
  style="height: 800px;" [kendoSchedulerReactiveEditing]="createFormGroup" [eventStyles]="getEventStyles">
  <kendo-scheduler-month-view>
  </kendo-scheduler-month-view>

  <ng-template kendoSchedulerEditDialogTemplate autoFocusedElement=".title-input" let-formGroup="formGroup"
    let-isNew="isNew" let-editMode="editMode">
    <div class="k-form-inline">
      <div class="k-form-field">
        <span>Event Type</span>
        <kendo-combobox [formControl]="formGroup.get('eventType')" [data]="eventLookups" [textField]="'text'"
          [valueField]="'value'" [valuePrimitive]="true" required>
        </kendo-combobox>
      </div>
    </div>
  </ng-template>
</kendo-scheduler>